*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root {
    --basic-black: #000000;
    --basic-dark: #333333;
    --basic-white: #FFFFFF;
    --basic-blue: #81B3D2;
    --basic-grey: #EEEEEE;
    --basic-light-grey: #F2F2F2;
    --basic-dark-grey: #888888;
    --basic-darken-grey: #666666;
    --basic-brown: #766357;

    --hover-brown: #604E43;
    --active-brown: #503E33;
    --hover-blue: #669EC0;
    --active-blue: #5496BD;

    --sort-grey: #CACACA;
    --boder-grey-item: #E5E5E5;
    --copyright-link-grey: #BDBBBC;
    --toggle-grey: #ABABAB;
    --input-hover-grey: #EBEBEB;

    --opacity-white: rgba(255, 255, 255, 0.3);

    --star-width: 19px;
    --star-gap: 5px;
}

/* Global parametrs */

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--basic-dark);
}

a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
  background-color: var(--basic-light-grey);
}

.page-body {
  height: 100%;
}

.page-wrapper--main {
  position: relative;
}

.page-wrapper {
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  background-color: var(--basic-white);
}

.inner-wrapper {
  padding-left: 72px;
  padding-right: 72px;
}

/* Main page */

.header {
  background-color: var(--basic-white);
}

.header .inner-wrapper {
  position: relative;
}

.header__logo {
  position: absolute;
  width: 138px;
  height: 70px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main-nav {
  font-weight: bold;
  line-height: 26px;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  width: 22%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-nav__item:nth-child(4n + 2) {
  margin-right: 6%;
}

.main-nav__item:nth-child(4n + 3) {
  margin-left: 6%;
  text-align: right;
}

.main-nav__item:nth-child(4n) {
  text-align: right;
}

.main-nav__link {
  color: var(--basic-black);
}

.main-nav__link:hover {
  color: var(--basic-blue);
}

.main-nav__link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-nav__link--active {
  color: var(--basic-brown);
}

/* Hero */

.hero {
  min-height: 509px;
  background-color: #90b6d1;
  background-image:
    url("../img/bottom-frame.png"),
    url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: bottom, center;
  text-align: center;
}

.hero__image {
  padding-top: 77px;
}

/* Features */

.features {
  position: relative;
  padding-top: 42px;
  background-color: var(--basic-white);
  z-index: 2;
}

.feature__slogan {
  margin: 0;
  margin-bottom: 42px;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  text-align: center;
}

.feature__sub-slogan {
  margin: 0;
  margin-bottom: 53px;
  line-height: 26px;
  text-align: center;
}

.features__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.feature__item--big,
.feature__item--medium {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.feature__item--medium .feature__image {
  grid-column: 1 / span 2;
}

.feature__image {
  grid-column: 2 / span 2;
}

.advantages__list {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.feature__item--blue {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.feature__descr {
  padding-top: 48px;
  padding-bottom: 52px;
}

.feature__title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 21px;
}

.feature__text {
  margin: 0;
  margin-bottom: 23px;
}

.feature__text:last-child {
  margin-bottom: 0;
}

.feature__descr,
.advantage__item {
  padding-left: 49px;
  padding-right: 49px;
}

.feature__item--grey {
  padding: 46px 69px 54px;
}

/* Advantages */

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--basic-white);
  text-align: center;
}

.advantage__item {
  position: relative;
  padding-top: 160px;
  padding-bottom: 68px;
}

.advantage__item::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantage__item--hotel::before {
  top: 60px;
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-hotel.svg");
}

.advantage__item--food::before {
  top: 60px;
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-food.svg");
}

.advantage__item--souvenirs::before {
  top: 55px;
  width: 64px;
  height: 77px;
  background-image: url("../img/icon-souvenirs.svg");
}

.advantage__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.advantage__text {
  color: var(--basic-dark);
}

.feature__item--grey {
  background-color: var(--basic-grey);
}

.search {
  position: relative;
  padding-top: 58px;
  background-color: var(--basic-white);
  text-align: center;
  z-index: 1;
}

.search::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--basic-white);
  z-index: -1;
}

.search__row input {
  padding: 8px 0 8px 13px;
  background-color: var(--basic-light-grey);
  border: none;
}

.search__row input:hover {
  background-color: var(--input-hover-grey);
}

.search__row input:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--boder-grey-item);
}

.search__field--data {
  width: 346px;
}

.search__title {
  margin: 0;
  margin-bottom: 33px;
  font-size: 30px;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
}

.search__text {
  margin: 0;
  margin-bottom: 42px;
  line-height: 24px;
  text-align: center;
}

.search__form {
  position: absolute;
  left: 50%;
  width: 568px;
  height: 395px;
  padding: 55px;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  transform: translateX(-50%);
  box-sizing: border-box;
  z-index: -2;
}

.search__form--hide {
  visibility: hidden;
}

.search__form--show {
  animation-name: slideDown;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.search__form--close {
  animation-name: slideUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes slideDown {
  0% { transform: translate(-50%, -100%); }
  100% { transform: translate(-50%, 0); }
}

@keyframes slideUp {
  0% { transform: translate(-50%, 0); }
  100% { transform: translate(-50%, -100%); }
}

.search__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.search__row--capacity {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}

.search__wrapper-date {
  position: relative;
}

.search__button-calendar {
  position: absolute;
  top: 7px;
  right: 9px;
  width: 21px;
  height: 23px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.search__alder,
.search__child {
  width: 226px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__child {
  justify-content: flex-end;
}

.search__child .search__label {
  margin-right: 27px;
}

.search__field--number {
  width: 114px;
}

.search__label {
  font-weight: bold;
  color: var(--basic-black);
}

.search__field,
.search__field::placeholder {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 1;
}

.search__row .search__field--number {
  padding-left: 38px;
  padding-right: 38px;
  text-align: center;
  -moz-appearance: textfield;
}

.search__field--number::-webkit-outer-spin-button,
.search__field--number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.search__wpapper-capacity {
  position: relative;
}

.search__button-capacity {
  position: absolute;
  top: 0;
  width: 38px;
  height: 38px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.search__button--minus:hover rect,
.search__button--plus:hover path {
  fill: var(--basic-black);
}


.search__button--minus:active rect,
.search__button--plus:active path {
  fill: var(--basic-blue);
}

.search__button--minus {
  left: 0px;
  padding-bottom: 8px;
}

.search__button--plus {
  right: 0;
}

.button--submit {
  padding-left: 192px;
  padding-right: 193px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.button {
  font-weight: bold;
  color: var(--basic-white);
  border: none;
  cursor: pointer;
}

.search__button-calendar:hover path {
  fill: var(--basic-black);
}

.search__button-calendar:active path {
  fill: var(--basic-blue);
}

.button--search {
  display: inline-block;
  padding: 30px 140px;
}

.button--search,
.button--submit {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.button--brown {
  background-color: var(--basic-brown);
}

.button--brown:hover {
  background-color: var(--hover-brown);
}

.button--brown:active {
  background-color: var(--active-brown);
  color: var(--opacity-white);
}

.button--blue {
  background-color: var(--basic-blue);
}

.button--blue:hover {
  background-color: var(--hover-blue);
}

.button--blue:active {
  background-color: var(--active-blue);
  color: var(--opacity-white);
}

.map {
  min-height: 594px;
  background-image: url("../img/map.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

/* Footer */

.footer .inner-wrapper {
  display: grid;
  grid-template-columns: 327px 1fr 327px;
  padding-top: 28px;
  padding-bottom: 31px;
  background-color: var(--basic-white);
}

.footer--main-page {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}

.contacts {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: var(--basic-black);
}

.contacts_soc-tag {
  margin: 0;
  margin-bottom: 9px;
}

.contact__phone {
  color: inherit;
}

.contact__phone:hover {
  color: var(--basic-blue);
}

.contact__phone:active {
  opacity: 0.3;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 6px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
}

.social__link:hover {
  background-color: var(--hover-blue);
}

.social__link:active {
  background-color: var(--active-blue);
}

.social__link:active svg {
  opacity: 0.3;
}

.copyright {
  display: flex;
  align-items: center;
  line-height: 26px;
  color: var(--basic-black)
}

.copyright__text {
  margin-left: 65px;
  margin-right: 8px;
}

.copyright__link:hover path {
  fill: var(--basic-blue);
}

.copyright__link:active path {
  fill: var(--copyright-link-grey);
}

.hotels-search {
  background-color: var(--basic-dark);
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
}

.filters {
  display: grid;
  grid-template-columns: auto auto 1fr;
  padding-top: 25px;
  padding-bottom: 31px;
}

.filter__range-controls {
  position: relative;
  margin-bottom: 33px;
}

.filter__range-price {
  width: 100%;
  text-align: center;
}

.filter__scale {
  height: 2px;
  margin-top: 20px;
  background-color: var(--opacity-white);
}

.filter__toggle {
  position: absolute;
  top: -9px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle-grey);
  border-radius: 50%;
  box-shadow: 0 2px 0 var(--toggle-grey);
  cursor: pointer;
}

.filter__togglel--max {
  left: 253px;
}

.filter__toggle:hover {
  transform: scale(1.2);
}

.filter__bar {
  height: 2px;
  width: 80%;
  background-color: var(--basic-white);
}

.filter__field--price {
  justify-self: end;
}

.filter__value {
  position: relative;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.filter__value::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  top: 50%;
  left: 50%;
  background-color: var(--basic-white);
  transform: translate(-50%, -50%);
}

.filter__value input {
  width: 156px;
  padding-top: 5px;
  padding-bottom: 6px;
  background: transparent;
  border: none;
}

.filter__value input,
.filter__value input::placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  text-align: center;
  opacity: 1;
}

.filter__value input {
  -moz-appearance: textfield;
}

.filter__value input::-webkit-outer-spin-button,
.filter__value input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter__field {
  width: 255px;
  margin: 0;
  padding: 0;
  border: none;
  color: var(--basic-white);
}

.filter__field--price {
  width: 317px;
}

.filter__title {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: bold;
}

.filter__field--price .filter__title {
  margin-bottom: 11px;
}

.filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__button {
  padding: 6px 35px 7px 36px;
  font: inherit;
  background: transparent;
  border: 2px solid currentColor;
  border-radius: 2px;
  text-transform: uppercase;
  color: var(--basic-white);
  cursor: pointer;
}

.filter__button:hover {
  background: var(--basic-white);
  color: var(--basic-black);
}

.filter__value {
  display: flex;
}

.filter__list li {
  margin-bottom: 25px;
  padding-left: 40px;
}

.filter__list li:last-child {
  margin-bottom: 0;
}

.filter__name {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter__name::before {
  content: "";
  position: absolute;
  top: 0;
  left: -39px;
  width: 23px;
  height: 23px;
  border: 2px solid var(--basic-white);
  border-radius: 3px;;
}

.filter-input-checkbox:checked + .filter__name::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -35px;
  width: 22px;
  height: 11px;
  border: 4px solid var(--basic-white);
  border-top-style: none;
  border-right-style: none;
  transform: rotate(-45deg);
}

.sort {
  padding-top: 29px;
  padding-bottom: 32px;
  font-size: 12px;
  line-height: 18px;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.sort .inner-wrapper {
  display: flex;
  align-items: center;
}

.sort__result {
  order: -1;
  margin: 0;
  margin-right: 46px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.sort-title {
  margin: 0;
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
}

.sort__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort__item {
  margin-right: 32px;
}

.sort__link {
  opacity: 0.3;
  color: var(--basic-black);
  border-bottom: 1px dashed var(--basic-blue);
}

.sort__link--active {
  border: none;
  color: var(--basic-blue);
  opacity: 1;
}

.sort__link:hover:not(.sort__link--active) {
  color: var(--basic-blue);
  opacity: 1;
}

.sort__link:active:not(.sort__link--active) {
  border: none;
  color: var(--basic-black);
  opacity: 1;
}

.price-sort__item-up {
  margin-right: 12px;
}

.price-sort__list {
  margin-left: auto;
}

.price-sort__link {
  display: block;
  cursor: pointer;
}

.price-sort__link--down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid var(--sort-grey);
}

.price-sort__link--up {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid var(--sort-grey);
}

.price-sort__link--down:hover:not(.price-sort__link--active),
.price-sort__link--up:hover:not(.price-sort__link--active) {
  border-bottom-color: var(--basic-black);
  border-top-color: var(--basic-black);
}

.price-sort__link--down:active:not(.price-sort__link--active),
.price-sort__link--up:active:not(.price-sort__link--active) {
  border-bottom-color: var(--basic-blue);
  border-top-color: var(--basic-blue);
}

.price-sort__link--active {
  border-bottom-color: var(--basic-blue);
  border-top-color: var(--basic-blue);
}

.hotels {
  background-color: var(--basic-white);
}

.hotels__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel__item {
  padding-top: 24px;
  padding-bottom: 30px;
  border-top: 1px solid var(--boder-grey-item);
}

.hotel__item .inner-wrapper {
  display: flex;
}

.hotel__item:last-child {
  border-bottom: 1px solid var(--boder-grey-item);
}

.hotel__image {
  margin-top: 6px;
  margin-right: 30px;
}

.hotel__descr {
  display: flex;
  flex-direction: column;
}

.hotel__title {
  margin: 0;
  margin-bottom: 4px;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.hotel__link {
  color: inherit;
}

.hotel__link:hover {
  color: var(--basic-blue);
}

.hotel__link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.hotel__action {
  margin-top: 15px;
}

.hotel__action .button {
  margin-right: 3px;
  padding: 4px 17px;
}

.hotel__action .button:last-child {
  margin-right: 0;
}

.hotel__rating {
  position: relative;
  margin-top: auto;
  margin-left: auto;
}

.hotel__rating::before {
  content: "";
  position: absolute;
  top: -64px;
  right: 0;
  height: 17px;
}

.hotel__rating--four::before {
  width: calc(var(--star-width) * 4 + var(--star-gap) * 3);
  background-image: url(../img/icon-star.svg);
  background-repeat:space;
}

.hotel__rating--three::before {
  width: calc(var(--star-width) * 3 + var(--star-gap) * 2);
  background-image: url(../img/icon-star.svg);
  background-repeat:space;
}

.hotel__rating--two::before {
  width: calc(var(--star-width) * 2 + var(--star-gap) * 1);
  background-image: url(../img/icon-star.svg);
  background-repeat:space;
}

.hotel__rating-number {
  display: block;
  padding: 3px 12px 3px 15px;
  background-color: var(--basic-light-grey);
  color: var(--basic-darken-grey);
}

.hotel__type {
  width: 113px;
}
